.card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    width: 450px;
    height: 380px;
    border: solid;
}

.team-logo-container {
    width: 450px;
}

.team-logo {
    width: 100%;
    height: 100%;
}